body{
    font-family: normal, 15pt, Arial;
    background: rgb(104, 104, 238);
}
header{
    color: white;
    text-align: center;    
}
section{
    color: white;
    background: white;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(54, 52, 52);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
div#res{
    color: rgb(54, 51, 51);
}
div{
    color: black;
}